body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 10px 108px -16px rgba(0, 0, 0, 0.131);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.container_logo {
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;

    align-items: center;
}

.nav_bar {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    text-decoration: none;
    color: inherit;
    
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_bar a:hover {
     cursor: pointer;
}

.pag_atual {
    font-weight: 700;
}

.cadastro_e_login {
    /* margin-right: 40px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.botao_login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #0E7905;
    background-color: #ffffff00;
    border: 1px #0E7905 solid;
    border-radius: 10px;
    padding: 6px 25px;
    /* padding-inline: 25px;
    padding-block: 6px; */
    position: relative;
    transition: transform 0.3s;
}

.botao_login:hover {
    cursor: pointer;
    transition: 0.28s;
    transform: translateY(-2px);
}

.botao_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #b80101;
    background-color: #ffffff00;
    border: 1px #b80101 solid;
    border-radius: 10px;
    padding-inline: 25px;
    padding-block: 6px;
    position: relative;
    transition: transform 0.2s;
    
}

.botao_cadastro:hover {
    cursor: pointer;
    transform: scale(1.09);
    transform: translateY(-3px);
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    transition: transform 0.3s;
}

.usuario:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.banner {
    background-image: url(../assets/imgs/banner.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_banner {
    color: white;
    display: flex;
    align-items: center;
    max-width: 40%;

}

.logo_banner {
    max-height: max-content;
}

.conteudo_banner {
    margin-left: 30px;
    max-width: 70%;
}

.container_banner div h1 {
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
}

.container_banner div p {
    color: #f4f4f4ae;
    font-size: 15px;
    font-weight: lighter;
}

.container_banner div h1 span {
    color: #ef1b1b;
}

.oque_info {
    height: 100dvh;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    scrollbar-width: none;
}

.conteudo_oqinfo {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 70px;

}

.conteudo_oque {
    width: 50%;
    height: 100%;
    text-align: end;
}

.conteudo_oque h1 {

    font-size: 10vh;
    color: #1D7747;
    font-weight: 400;
    line-height: 0.7;
}

.conteudo_oque p {
    font-size: 4vh;
    color: #000000;

}

.bold_text {
    font-weight: 700;
}

.bold_text2 {
    font-weight: 800;
    color: #ff0000;
}

.imagem {
    border-left: 3px #1D7747 solid;
    width: 50%;
}

.img_palmeiras {
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-self: end;
    justify-self: end;
}

.o_porque_do_amor {
    height: 100dvh;
    background-color: #1D7747;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_porque {
    margin: 30px;
    background-color: white;
    width: 50%;
    height: 20%;

    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #1D7747;
}

.titulo_porque h1 {
    font-weight: 400;
}

footer {
    height: 70dvh;
    background-color: #1D7747;
    box-shadow: -2px -15px 73px 1px rgba(0, 0, 0, 0.26);
}

.titulos_footer {
    height: 40%;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulos_footer img {
    height: 50%;
}

.footer_footer {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo_footer {
    height: 80%;
}

.hr {
    width: 100%;
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
    background-color: transparent;
}

.footer_footer {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}

.conteudo_oporque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    gap: 100px;
}

.bold_p {
    font-weight: 600;
}

.container_conteudo_porque h1 {
    font-size: 60px;
    line-height: 0.8;
    color: white;
    font-weight: lighter;
    width: 76%;
}

.container_conteudo_porque p {
    font-size: 30px;
    line-height: 0.8;
    color: white;
}

.container_conteudo_porque {
    width: 70%;
}


.timeline-container {
    position: relative;
    max-width: 1300px;
    margin: 50px auto;
    padding: 40px 0;
}


.linha-central {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #2e8b57;
    transform: translateX(-50%);
    z-index: 1;
}


.timelineImagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 3;
}


.conteudoesquerda,
.conteudodireita {
    width: 45%;
}


.textodireita {
    text-align: right;
}


.textoano h2 {
    font-family: 'Poppins', sans-serif;
    color: #d32f2f;
    font-size: 45px;
    margin-bottom: 5px;
    font-weight: 700;
}

.textoano h3 {
    color: #2e8b57;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}

.textoano p {
    color: #333;
    line-height: 1.5;
}

.timelineImagens img {
    width: 100%;
    max-width: 400px;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
}

.titulo_historia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.titulo_historia h1 {
    font-family: 'Poppins', sans-serif;
    color: #1D7747;
    font-size: 80px;
}

.titulo_historia img {
    width: 100px;
}

/* QUIZ */
.main-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-self: center;
    height: 120dvh;
}
.titulo_quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 10%;
}
.titulo_quiz img {
    width: 800px;
}

.div_quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#pontuacaoEJogo{
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border: 2px #095c36 solid;
    border-radius: 20px;
}

.titulo_quiz h1 {
    font-size: 90px;
    color: #1D7747;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}
.botao_quiz_of{
    font-family: 'Poppins',sans-serif;
    padding: 10px 20px;
    color: white;
    background-color: #095c36;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    position: relative;
    transition: transform 0.3s;
}
.botao_quiz_of:hover{
 cursor: pointer;
    transform: translateY(-3px);
}

.botao_quiz{
    font-family: 'Poppins',sans-serif;
    padding: 10px 20px;
    color: white;
    background-color: #095c36;
    border: none;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s;
}

.botao_quiz:hover{
    cursor: pointer;
    transform: translateY(-3px);
}
.botao_quiz:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none; /* Impede cliques e foco */
}

.botoes_quiz{
    gap: 10px;
}

#opcoes{
    margin-bottom: 30px;
}
:root {
    --primary-brand-color: #0c7027;
    --secondary-brand-color: #0c7027;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}



.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}
/* .main-quiz {
    height: 150dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo_quiz {
    width: 70%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px;
}

.titulo_quiz h1 {
    font-size: 90px;
    color: #1D7747;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.titulo_quiz img {
    width: 800px;
} */

/* Dashboard */

.header_dash {
    color: white;
    background-color: #1D7747;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding: 30px;
    height: 100dvh
}

.header_dash hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
    margin-bottom: 40px;
}

.dash_profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.dash_profile img {
    width: 70px;
}

.dash_profile_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash_profile_items h3,
.dash_profile_items p {
    margin: 0;
}

.items_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.item_header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    position: relative;
    transition: transform 0.3s;
}

.item_header a:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

